{% load static %}
{% block card1_block %}
                        <div class="card">
                        <h5 class="card-header">Spending</h5>
                        <div class="card-body">
                            <!-- <h5 class="card-title">345k</h5> -->
                            <h5 class='card-text'>Your total budget is: $<span style="0color:green;">{{ budget }}</span></h5>
                            <h5 clas='card-text'>You've spent a total of: $<span style="color:red;">{{ expenses }}</span></h5>
                            <p class="card-text text-success">Funds Remaining: ${{  remain }}</p>
                        </div>
                    </div>
{% endblock %}


