{% extends 'base.html' %}
{% load static %}


{% block body_block %}
    <form action="{% url 'gantt' %}" method="get">
    <label for="sponsor_filter">Filter by Sponsor</label>
    <input type="text" name="sponsor_filter">
        <!--<input type="submit" value="sponsor_filter" /> -->
        <label for="zoom_level">Show Range</label>
        <input type="range" name="zoom_level" min="0" max="100" value="100">
    <input type="submit" value="submit" />
    <input type="submit" value="reset" />
</form>
    <div class="card">
    <h5 class="card-header">Gantt Chart</h5>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead> " This is a Gantt Chart {{ outlook }}</thead>
                <tbody>
                    <tr>
                        <td width="100%">
                            {% widthratio project_items.count 1 60 as total_length%}>
                            <svg width=100% height={{ total_length }}>
                                #Todo redraw in single graph using len(project_items to set y
                                  <defs>
                                    <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                                      <stop offset="0%" style="stop-color:rgb(078,042,132);stop-opacity:.75" />
                                      <stop offset="100%" style="stop-color:rgb(255,255,255);stop-opacity:.5" />
                                    </linearGradient>
                                  </defs>
                                {% for project_item in project_items %}
                                    {%  widthratio forloop.counter 1 60 as line %}
                                    {%  widthratio project_item.schedule.start_date_n 1 1 as gantt_start %}
                                    <rect x={{ project_item.schedule.start_date_n }}% y={% widthratio forloop.counter0 1 60 %}  width={{ project_item.schedule.end_date_n }}% height="40" rx="10" ry="10" style="fill:rgb(078,042,132);stroke:black;stroke-width:2" />
                                    <text x={{ gantt_start|add:"1" }}% y={{ line|add:"-10" }} fill="#000000" font-size="10" font-family="Verdana">{{  project_item.name }}</text>
                                    Sorry, your browser does not support inline SVG. -->
                                {% endfor %}
                                {%  for quarter in quarters %}
                                    <line x1={{ quarter.quarter_start_today }}% y1="0" x2={{ quarter.quarter_start_today }}% y2={{ total_length }} style="stroke:rgb(255,0,0);stroke-width:2"></line>
                                {% endfor %}
                            </svg>

                          <label for="outlook">Days Outlook</label>
                        <div>


</div>
                            <!--
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2">
                                <line x1="18" y1="20" x2="18" y2="10"></line>
                                <line x1="12" y1="20" x2="12" y2="4"></line>
                                <line x1="6" y1="20" x2="6" y2="14"></line>
                            </svg>
                            -->
                        </td>
                    </tr>

                </tbody>
            </table>
    </div>
    <div class="card">
        <h5 class="card-header">Programs</h5>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Milestone</th>
                        <th>Project Quarter</th>
                        <th>Project Year</th>
                        <th>Sponsor</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project_item in project_items %}
                        <tr>
                            <td>{{ project_item.name }}</td>
                            <td>{{ project_item.schedule.start_date }}</td>
                            <td>{{ project_item.schedule.end_date }}</td>
                            <td>{{ project_item.schedule.event_date }}</td>
                            <td>{{ project_item.schedule.quarter }}</td>
                            <td>{{ project_item.schedule.fiscalyear }}</td>>
                            <td>{{ project_item.sponsor }}</td>>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
           <!-- #todo <a href="#" class="btn btn-block btn-light">View all</a> -->
        </div>
    </div>
{% endblock body_block %}



