{% extends 'base.html' %}
{% load static %}

{%  block title %}
Events Page
{%  endblock title %}

{% block custom_css %}
    <style>
        .table td {
    vertical-align:Middle;
    font-size:small;
    }
    </style>
{%  endblock custom_css %}

{% block body_block %}
    <div class="card">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group bg_blue">
                    All Events
                </div>
                <div class="table-responsive">
                    <table class="table" font-size="small">
                        <thead>
                         <div class="row">
                            <div class="form-group col-lg-12">
                                {% if messages %}
                                    {% for message in messages %}
                                        {%  if message.tags == 'success' %}
                                            <div class="alert alert-success">{{ message }}</div>
                                        {%  elif message.tags == 'error' %}
                                            <div class="alert alert-danger">{{ message }}</div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                         </div>
                         <a href="../addEvent" class="btn btn-info align-content-center">Add Record</a>
                            <tr>
                                <th>Event ID</th>
                                <th>Event Name</th>
                                <th>Project</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>End Date</th>
                                <th>Event Description</th>
                                <th>is_active</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            {% for event in events %}
                                <tr>
                                    <td>{{ event.id }}</td>
                                    <td class="editable" vertical-align="middle" data-id="{{ event.id }}" data-type="name">{{ event.name }}</td>
                                    <td class="editable" vertical-align="middle" data-id="{{ event.id }}" data-type="project">{{ event.project }}</td>
                                    <td class="editable" vertical-align="middle" data-id="{{ event.id }}" data-type="start_time">{{ event.start_time }}</td>
                                    <td class="editable" vertical-align="middle"  data-id="{{ event.id }}" data-type="end_time">{{ event.end_time }}</td>
                                    <td class="editable" vertical-align="middle"  data-id="{{ event.id }}" data-type="date">{{ event.date }}</td>
                                    <td class="editable" vertical-align="middle"  data-id="{{ event.id }}" data-type="description">{{ event.description }}</td>
                                    <td class="editable" vertical-align="middle"  data-id="{{ event.id }}" data-type="is_active">{{ event.is_active }}</td>
                                    <td class="editable" vertical-align="middle"  data-id="{{ event.id }}" data-type="status">{{ event.status }}</td>
                                    <td><a href="/delete_event/{{ event.id }}" class="btn btn-danger">Delete</a>
                                        <a href="/update_event/{{ event.id }}" class="btn btn-success">Update</a></td>
                                </tr>
                            {% endfor %}
                        </thead>
                    </table>
                </div>
            </div>
            <div class="col-lg-12" hidden>
                <div class="form-group bg_blue">
                    All Locations
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Location ID</th>
                                <th>Location Name</th>
                                <th>Location Type</th>
                                <th>is_active</th>
                                <th>Action</th>
                            </tr>
                            {% for venue in venues %}
                                <tr>
                                    <td>{{ venue.id }}</td>
                                    <td>{{ venue.name }}</td>
                                    <td>{{ venue.type }}</td>
                                    <td>{{ venue.is_active }}</td>
                                    <td><a href="/delete_venue/{{ venue.id }}" class="btn btn-danger">Delete</a>
                                        <a href="/update_venue/{{ venue.id }}" class="btn btn-success">Update</a></td>
                                </tr>
                            {% endfor %}
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock body_block %}

{% block custom_js %}
    <script>
    $(document).ready(function(){
        $(document).on("dblclick",".editable",function(){
            var value=$(this).text()
            var input="<input type='text' class='input-data' value='"+value+"' class='form-controll'>";
            $(this).html(input);
            $(this).removeClass("editable")
        });

        $(document).on("blur",".input-data",function(){
            var value=$(this).val();
            var td=$(this).parent("td");
            $(this).remove();
            td.html(value);
            td.addClass("editable");
            var type=td.data("type")
            sendToServer(td.data("id"),value, type)
        });

        $(document).on("keypress",".input-data",function(e){
            var key=e.which;
            if(key==13){
                var value=$(this).val();
                var td=$(this).parent('td');
                $(this).remove()
                td.html(value);
                td.addClass("editable");
                var type=td.data("type")
                sendToServer(td.data("id"),value, type)
            }
        });
        function sendToServer(id, value, type){
            console.log(id);
            console.log(value);
            console.log(type);
            $.ajax({
                url:"live_edit",
                type:"POST",
                data:{id:id,type:type, value:value},
            })
                .done(function(response){
                    console.log(response);
                })
                .fail(function(response){
                    console.log("Error")
                });
        }
    });
    </script>
{% endblock custom_js %}